<?xml version='1.0' encoding='utf-8'?>
<plugin id="darkmehmet-vibrate-all" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>VibrateAll</name>

    <description>Android Vibration Plugin which works even silent mode</description>
    <license>Apache 2.0</license>
    <keywords>android, vibration, silent mode</keywords>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="VibrateAll" src="www/VibrateAll.js">
        <clobbers target="cordova.plugins.VibrateAll" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="VibrateAll">
                <param name="android-package" value="com.darkmehmet.VibrateAll" />
            </feature>
        </config-file>

        <source-file src="src/android/VibrateAll.java" target-dir="src/com/darkmehmet/vibrateAll" />
    </platform>
</plugin>